header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f283f;
    padding: 10px;
  }
  
  .logo img {
    max-width:15%;
    text-decoration: none;
  }
  
  #menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  #menu li {
    margin-left: 1rem;

  }

  #menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    margin-right: 1rem;
  }

  #menu li:hover > ul{
    display:block;
   
  }

  /* #menu li ul li{
    position: relative;
  } */
  
  #menu a {
    color: #b8b8b8;
    font-size: 1.1rem;
    text-decoration: none;
  }

  #menu a:hover {
    color: #67dcff;
    text-decoration: none;
    transition: 0.4s;
  }

  .h1borsa{
    color: white;
    text-align: center;
  }
  
  .home{
    font-size: 48px;
  font-weight: bold;
  text-align: center;
  
  margin-bottom: 5vh;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #333;
  font-family: Arial, sans-serif;
    font-size: 3em;
  }
  .vidal{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    
    margin-bottom: 5vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    font-family: Arial, sans-serif;
  }
  .menuH{
    animation-duration: 3s;
    animation-name: slidein;
    color: white;
    font-size: 3em;
    margin-right: 30%;
    font-family:Arial, Helvetica, sans-serif;
    
  }

  @keyframes slidein {
    from {
      margin-left: 70%;
      width: 100%
    }
  
    to {
      margin-left: 10%;
      width: 50%;
    }
  }
  .lds-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #333333;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #333333 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  /*home css*/
  footer {

    background-color: #0f283f; /* Color gris claro */


    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
    color: white;
    text-align: center;

  }


  .infoEmpresa {
    border: outset 4px #0f283f;
    font-weight: bold;
    width: 35%;
    text-align: center;
    margin-bottom: 2%;
    
    
    padding: 1.5%;
    padding-left: 30px;
    min-width: 210px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
    
}

.infoUser {
  border: outset 4px #0f283f;
  width: 35%;
  text-align: center;
  margin-bottom: 2%;
  margin-left: 5%;
  font-weight: bold;
  padding: 1.5%;
  padding-left: 30px;
  min-width: 210px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F5;
}
.infoUser h3{
  font-size: 1.3em;
}

.generalDiv{
  display: flex;
  padding-left: 5%;
  margin-left: 10%;
  margin-top: 5%;
  
}

.imagenes{
  border: outset 4px #0f283f;
  width: 35%;
  text-align: center;
  margin-bottom: 2%;
  margin-left: 30%;
  margin-top: 4%;
  padding: 1.5%;
  padding-left: 30px;
  min-width: 210px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F5;
  display: flex;
  
}

.img-Inetum{
  max-width: 30%;
  height: 30%;
  padding-left: 5%
}
  