<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">BORSA TREBALL</h5>
	  </div>


	    
        <form action="/register" method="post">
            title ,description ,requirements , skills , ciclo , dateOfPublication, expirationDate, createBy
            <input type="text" name="title" id="title">
            <input type="text" name="description" id="description">
            <input type="text" name="requirements" id="requirements">
            <input type="text" name="skills" id="skills">
            <select name="gender" id="gender">
              <option value="value">-----</option>
              <option value="alumne">alumne</option>
              <option value="gestor">gestor</option>
              <option value="responsable">responsable</option>
            </select>

           

        </form>

		
	</div>
 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>