<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<!-- <main>
	<div class="card mt-2">
		
		<div class="card-header">
	     <h5 class="card-title">BORSA TREBALL</h5>
	  </div>


	    
        <form action="/user/register" method="post">
                
             name<input type="text" name="title" id="name"><br>
             description<input type="text" name="description" id="description"><br>
             email <input type="text" name="requirements" id="email"><br>
             password<input type="text" name="passwordHash" id="passwordHash"><br>
             rolUser<select name="rolUser" id="rolUser">
              <option value="value">-----</option>
              <option value="alumne">alumne</option>
              <option value="gestor">gestor</option>
              <option value="responsable">responsable</option>
            </select>

           


        </form>
        

		
	</div>
 

</main> -->
<form action="registerUser/" method="POST">
  <fieldset >
    <div class="form-group">
      <label for="disabledTextInput">Nom</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" id="description">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Email</label>
      <input type="text" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="disabledTextInput">Password</label>
      <input type="text"  name="passwordHash" id="passwordHash" class="form-control">
    </div>
    
     
    <div class="form-group">
      <label for="disabledSelect">rolUser</label>
      <input type="text" name="rolUser" id="">
      <!--  <select name="rolUser" id="rolUser">
        <option value="value">-----</option>
        <option value="alumne">alumne</option>
        <option value="gestor">gestor</option>
        <option value="responsable">responsable</option>
        </select> -->
    </div>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>