<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
<div style="text-align: center; margin-top: 20em; margin-bottom: 20em;">
<h1>BENVINGUTS A LA BORSA DE TREBALL</h1>
<h2>INSTITUT VIDAL I BARRAQUER</h2>
</div>

</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>