<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">book catalog</a>
  <ul class="navbar-nav mr-auto">
    
    <li class="nav-item">
      <a class="nav-link" href="/genres">Genres</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/publisher">Publishers</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/technicalbook">Books</a>
    </li>
  </ul>
</nav>
